.chat-container {
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  max-width: 70%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}

.sender-message {
  background-color: #bcc3c1;
  color: #000;
  align-self: flex-start;
}

.receiver-message {
  background-color: #4c7aaf;
  color: #fff;
  align-self: flex-end;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-input input {
  width: 80%;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-input button {
  padding: 8px;
  margin: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
